html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  padding: 20px;
  height: 60vh;
  width: 40vw;
  border: 1px solid black;
  color: black;
  background-color: var(--platinum);
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
